.game {
  display: flex;
  align-items: center;
}

.board {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  margin: 0 auto;
}

.board__cell {
  border: 1px solid #000;
  position: relative;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player__piece {
  position: relative;
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player1 {
  background: rgb(216, 105, 105);
  border-radius: 50%;
}

.player2 {
  background: rgb(105, 118, 216);
  border-radius: 50%;
}

.big {
  width: 100px;
  height: 100px;
}

.middle {
  width: 75px;
  height: 75px;
}

.small {
  width: 50px;
  height: 50px;
}

.piece.big {
  z-index: 103;
}

.piece.middle {
  z-index: 102;
}

.piece.small {
  z-index: 101;
}