.game {
  display: flex;
  align-items: center;
}

.board {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  margin: 0 auto;
}

.board__cell {
  border: 1px solid #000;
  position: relative;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player__piece {
  position: relative;
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.big {
  width: 100px;
  height: 100px;
}

.middle {
  width: 70px;
  height: 70px;
}

.small {
  width: 50px;
  height: 50px;
}

.player1.piece.big {
  z-index: 103;
  background-image: url(../img/oji01@2x.png);
}

.player1.piece.middle {
  z-index: 102;
  background-image: url(../img/oji02@2x.png);
}

.player1.piece.small {
  z-index: 101;
  background-image: url(../img/oji03@2x.png);
}

.player2.piece.big {
  z-index: 103;
  background-image: url(../img/neko01@2x.png);
}

.player2.piece.middle {
  z-index: 102;
  background-image: url(../img/neko02@2x.png);
}

.player2.piece.small {
  z-index: 101;
  background-image: url(../img/neko03@2x.png);
}