.main {
  width: 300px;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  margin: 0 auto;
}

.board__cell {
  border: 1px solid #000;
  position: relative;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.player__big-piece {
  width: 100px;
  position: relative;
}

.player__middle-piece {
  width: 80px;
  position: relative;
}

.player__small-piece {
  width: 55px;
  position: relative;
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: grab;
}

.piece.big {
  width: 100px;
  height: 100px;
  z-index: 103;
}

.piece.middle {
  width: 70px;
  height: 70px;
  z-index: 102;
}

.piece.small {
  width: 50px;
  height: 50px;
  z-index: 101;
}

.player1.piece.big {
  background-image: url(../img/oji01@2x.png);
}

.player1.piece.middle {
  background-image: url(../img/oji02@2x.png);
}

.player1.piece.small {
  background-image: url(../img/oji03@2x.png);
}

.player2.piece.big {
  background-image: url(../img/neko01@2x.png);
}

.player2.piece.middle {
  background-image: url(../img/neko02@2x.png);
}

.player2.piece.small {
  background-image: url(../img/neko03@2x.png);
}

.player.inactive {
  opacity: .3;
}

.modal {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  background: #000c;
  display: none;
}

.modal__message-box {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 200px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}