:root {
  --board-border-width: 5px;
  --board-border-color: #0003;
  --board-border-radius: 15px;
}

body {
  font-family: "M PLUS Rounded 1c";
}

.game {
  background-color: #75c187;
  background-image: url(../img/bg@3x.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  margin: 5px auto;
}

.board__cell {
  border-right: var(--board-border-width) solid var(--board-border-color);
  border-bottom: var(--board-border-width) solid var(--board-border-color);
  position: relative;
}

.board__cell.top {
  border-top: var(--board-border-width) solid var(--board-border-color);
}

.board__cell.left {
  border-left: var(--board-border-width) solid var(--board-border-color);
}

.board__cell.left.top {
  border-start-start-radius: var(--board-border-radius);
}

.board__cell.right.top {
  border-start-end-radius: var(--board-border-radius);
}

.board__cell.left.bottom {
  border-end-start-radius: var(--board-border-radius);
}

.board__cell.right.bottom {
  border-end-end-radius: var(--board-border-radius);
}

.player-pieces {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  border: 5px solid;
  border-radius: 15px;
  margin: 5px auto;
}

.player-pieces.active {
  border-color: #09ea3e;
  background-color: #abffbfcf;
}

.player-pieces.inactive {
  border-color: transparent;
  background-color: #0000001a;
}

.player-pieces__place {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-pieces__piece-1 {
  width: 90px;
  height: 90px;
  position: relative;
  pointer-events: none;
}

.player-pieces__piece-2 {
  width: 90px;
  height: 90px;
  margin-left: -80px;
  position: relative;
  pointer-events: none;
}

.piece {
  width: 90px;
  height: 90px;
  filter: drop-shadow(0px 0px 4px #000a);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.big-piece {
  z-index: 203;
}

.big-piece__img {
  width: 90px;
  height: 90px;
  pointer-events: none;
}

.middle-piece {
  z-index: 202;
}

.middle-piece__img {
  width: 60px;
  height: 60px;
  pointer-events: none;
}

.small-piece {
  z-index: 201;
}

.small-piece__img {
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000c;
  display: none;
}

.modal__message-box {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 200px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
}

.restart {
  cursor: pointer;
}
